<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Helouise</title>
    <link rel="stylesheet" href="{% static 'poesias/css/anahelouise.css' %}">
</head>
<body>
    <h1>Ana Helouise de Souza Silva</h1>
    <section class="profile">
        <h2>Sobre mim</h2>
        <img src="{% static '/poesias/img/anahelouise.jpg' %}" alt="Foto de Ana Helouise">
        <p>Graduanda em Sistemas de Informação</p>
    </section>
    <section class="profile">
        <h2>Bem vindo a minha galeria</h2>
        <img src="{% static '/poesias/img/perfil.png' %}" alt="Foto de Ana Helouise">
    </section>
</body>
</html>

